<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>{{pageTitle}}</title>
    <link rel='stylesheet' type='text/css' href='/public/css/style.css' />
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bulma@0.10.2/css/bulma.min.css'>

  </head>
  <body>
    <main>
      <header class="hero is-info">
        <div class="hero-body">
        <img src='/images/Banner.JPG' alt="Banner Image" />
        </div>
      </header>
      <div class="section">
      {{{body}}}
      </div>
    </main>

    <footer class="footer">
      <div class="content has-text-centered">
      <p>&copy; 2024</p>
      </div>
    </footer>
  </body>
</html>
