<form id='create-course-form'>
  <h1>Add Course</h1>
  <div>
    <label for='coursename'>Course Name:</label>
    <input placeholder='Enter name...' id='coursename' name='coursename' />
  </div>
  <div>
    <label for='coursedesc'>Course Description:</label>
    <textarea cols='40' placeholder='Enter description...' id='coursedesc' name='coursedesc'></textarea>
  </div>
  <div>
    <button type='submit'>Add course</button>
  </div>
</form>

<script src='/js/createCourseForm.js'></script>
