<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{pageTitle}}</title>
</head>
<body>

<!-- Navbar with Bulma CSS -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#" id="homepage">Homepage</a>
      <a class="navbar-item" href="#" id="myClasses">My Classes</a>
      <a class="navbar-item" href="#" id="profile">Profile</a>
      <a class="navbar-item" href="#" id="logout">Logout</a>
    </div>
  </div>
</nav>

<!-- Content with Bulma CSS -->
<section class="section">
  <div class="container">
    <p>
      We can put a description here in the homepage about the application, some instructions on how the app works, and our
      inspiration for the project
    </p>
  </div>
</section>

<!-- JavaScript -->
<script src="/js/dashboard.js"></script>
</body>
</html>
