<!-- Navbar with Bulma CSS -->
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="#" id="homepage">Homepage</a>
      <a class="navbar-item" href="#" id="myClasses">My Classes</a>
      <a class="navbar-item" href="#" id="profile">Profile</a>
      <a class="navbar-item" href="#" id="logout">Logout</a>
    </div>
  </div>
</nav>

<!-- Content with Bulma CSS -->
<section class="section">
  <div class="container">
    <h2> Welcome! </h2>
    <p>
      The Education Management Application, name pending, was made to facilitate a simple and integrated teaching software for teachers. It allows for secure access to information regarding classes, provides important announcements, and allows you to update your profile for others to see. To see which classes you are teaching, simply click the myClasses tab and it will automatically render a list of all classes you are currently teaching, a description of the class, and a list of all students within that class and their relevant information!
    </p>
    <br>
    <br>
    <h2> Announcements</h2>
    <p> There will be a mandatory assembly in the auditorium for all classes 
      at 1:00 PM on thursday the 20th. Please plan your classes accordingly! 
      -Principal Meyers
    </p>
    <br>
    <p>
      This system will be down for maintenance and updates from 2:00 PM on friday the 21st until 10:00 AM on Monday the 24th. 
    </p>

  </div>
</section>

<!-- JavaScript -->
<script src="/js/dashboard.js"></script>