<div class='navbar'>
  <button id='homepage'>Homepage</button>
  <button id='myClasses'>My Classes</button>
  <button id='profile'>Profile</button>
  <button id='logout'>Logout</button>
</div>

<p>
  We can put a description here in the homepage about the application, some instructions on how the app works, and our
  inspiration for the project
</p>

<script src='/js/dashboard.js'></script>
