<div class="container">
  <!-- Form for logging in -->
  <form class="login-form">

    <!-- Email Field -->
    <div class="field">
      <label for="email" class="label">Email:</label>
      <div class="control">
        <input type="email" id="email" name="email" class="input" required>
      </div>
    </div>

    <!-- Password field -->
    <div class="field">
      <label for="password" class="label">Password:</label>
      <div class="control">
        <input type="password" id="password" name="password" class="input" required>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary" id="login-submit">Submit</button>
      </div>
    </div>
  </form>
</div>


<button id="create-account-btn"> Create Account</button>

<script src="/js/login.js"></script>

