<div class="navbar">
  <button id="homepage">Homepage</button>
  <button id="myClasses">My Classes</button>
  <button id="profile">Profile</button>
  <button id="logout">Logout</button>
</div>

<script src='/public/js/profile.js'></script>