<div class="container">
  <!-- Form for signing up -->
  <form id="signup-form" class="signup-form">

    <!-- Name Field -->
    <div class="field">
      <label for="name" class="label">Name:</label>
      <div class="control">
        <input type="text" id="name" name="name" class="input" required>
      </div>
    </div>

    <!-- Email Field -->
    <div class="field">
      <label for="email" class="label">Email:</label>
      <div class="control">
        <input type="email" id="email" name="email" class="input" required>
      </div>
    </div>

    <!-- Password field -->
    <div class="field">
      <label for="password" class="label">Password:</label>
      <div class="control">
        <input type="password" id="password" name="password" class="input" required>
      </div>
    </div>

    <div class="field">
      <div class="control">
        <button type="submit" class="button is-primary" id="signup-submit">Submit</button>
      </div>
    </div>
  </form>
</div>

<script src="/js/signup.js"></script>
